/* override for leaflet */
body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}

#clientExplore {
	float: right;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}