html,body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

#clientExplore {
	float:right;
}

#cartodb-map {
	position:absolute!important;
	top:42px!important;
	left:0;
	overflow:hidden!important;
	width:100%!important;
	opacity: 0;
}

.cartodb-logo {
	display:none!important;
}

.leaflet-right {
	display: none!important;
}

#locatingBox {
	z-index: 99;
	position: absolute;
	top: 45%;
	display: inline-block;
	background: rgba(255,255,255,0.6);
	padding: 5px;
	border-radius: 3px;
	font-size: 0.8em;
	width: 250px;
	text-align: center;
}

.leaflet-tile-pane {
/* 	transform:rotate(45deg)!important; */
}

/* Style for info window */

div.cartodb-popup {
	background: none;
	width: 240px;
	padding: 0;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-toplleft: 4px;
	border-top-left-radius: 4px;
	box-shadow: 0 0 9px rgba(0,0,0,0.4);
}

div.cartodb-popup a.cartodb-popup-close-button{
	top: -12px;
	right: -13px;
}

div.cartodb-popup div.cartodb-popup-content-wrapper{
	padding: 10px;
	width: 220px;
	max-width: none;
	background: none;
	background-color: #FFF;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-toplleft: 4px;
	border-top-left-radius: 4px;
}

div.cartodb-popup div.cartodb-popup-cont{
	width: 248px;
	max-width: none;
	max-height: none;
}

div.cartodb-popup div.cartodb-popup-cont h4{
	font-family: Times New Roman, Times, serif;
	font-size: 25px;
	color:#FFF;
	position: absolute;
	text-transform: none;
	font-weight: normal;
	z-index: 5px;
	top:98px;
	left: 14px;
	text-shadow: 0 1px 0 #000;
	letter-spacing: -1px;
}

div.cartodb-popup div.cartodb-popup-cont a.videoButton{
	background: url(../img/videoButton.png) 0 0 no-repeat;
	width: 20px;
	height: 17px;
	position: absolute;
	z-index: 6px;
	top:105px;
	right: 14px;
}

div.cartodb-popup div.cartodb-popup-cont a.videoButton:hover{
	background: url(../img/videoButton.png) 0 -17px no-repeat;
}

div.cartodb-popup div.cartodb-popup-cont p{
	font-family: "robotoregular", Helvetica, Arial, Sans-serif;
	font-size: 14px;
	padding: 12px 15px 0 15px;
	opacity: .5;
}

div.cartodb-popup div.cartodb-popup-tip-container{
	background: none;
	background-color: #FFF;
	width: 240px;
	height: 15px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomlleft: 4px;
	border-bottom-left-radius: 4px;
	margin-bottom: 10px;
}

div.cartodb-popup div.cartodb-popup-tip-container::after {
	position: absolute;
	bottom: -10px;
	left: 26px;
	content: '';
	border: 5px solid white;
	border-color: white transparent transparent white;
	width: 0;
	height: 0;
	z-index: 1;
}

div.cartodb-infobox {
	bottom:35px!important;
	font-family: "Helvetica",Arial;
}

div.cartodb-infobox h3 {
	color:#333333;
	font-size:15px;
}

div.cartodb-infobox p {
	display:block;
	margin:10px 0 0 0;
	color:#788787;
	font-size:13px;
	line-height:16px;
}