/* override for leaflet */
body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}

#clientExplore {
	float: right;
}

#mapView {
    position: relative;
    height: 100% !important;
    width: 100%;
    z-index: 1 !important;
    overflow: hidden !important;
}